	:root {
		--header-color:  #bcd1d6;
	}

	table, th, td {
		border-collapse: collapse;
		padding: 10px;
		text-align: center;
		font-size: 14px;
		align: center-top;
		border: 0px;
		width: 100%;
	}
	
	tbody, thead {
		display: table;
		overflow-x: auto;
		overflow-y:auto;
		width: 100%;
	}
	h1 {
		margin-top:130px;
		margin-bottom:10px;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	th  {
		font-size: 25px;
		color: var(--header-color) ;
		font-weight: bold;
		font-family: 'Sofia', recursive;
	}
	.search {
		margin-bottom: 10px;
		margin-top: 10px;

		color:   var(--header-color) ;
		font-weight: bold;
		font-family: 'Sofia';
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.search button {
		background-color: var(--header-color) ;
		font-family: 'Sofia';
		border: thin;
		border-radius: 10px;
		margin : 5px;
		color: darkgreen;
	}

	#reset-btn {
		display: none;
	}
	
	.search input[type="text"] {
		border:1px solid var(--header-color) ;
		margin: 5px;
		border-radius: 10px;
	}
	.tables table {
		margin-bottom: 20px;
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		width: 20%;
	}
	tr {
		font-family:Bradley Hand, cursive;
		font-size: 12px;
	}
	.tables{
		display: flex;
		justify-content: center;
		align-items: top;
		flex-wrap: wrap;
		margin-top:20px;
		margin-bottom: 250px;
	}
	@media (max-width: 800px) {
		.tables table {
			width: 100%;
			margin-right: 0;
		}
	}
	