	:root {
		--header-color: #C99062
		;
	}
	h1 {
		margin-top:200px;

		color:  var(--header-color) ;
		font-weight: bold;
		font-family: 'Sofia', recursive;
		font-size: 50px;
		display: flex;

		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		position: sticky;
	}

	.background-image {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}